## SQL Practice Problems
- **beginning, intermediate, and advanced challenges from the classic Microsoft Nothwind Database**
- **Sylvia Moestl Vasilik**

In [ ]:
# import of libraries

import pymysql
import pandas as pd
import math
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Adjust display options
#pd.set_option('display.max_rows', None)   # Show unlimited rows
pd.set_option('display.max_columns', None)   # Show unlimited columns

In [ ]:
# connection object
cnx = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Samarth1999SK',
    db = 'northwind'
)

In [ ]:
# cursor object 

cursor = cnx.cursor()
cursor.execute('SHOW TABLES')
tables = cursor.fetchall()

In [ ]:
tables = pd.DataFrame(tables, columns = ['Tables_in_Northwind'])

# Define a function to apply the bold font style
def apply_bold_style(val):
    return 'font-weight: bold'

# Create the styler object and apply the bold style to all cells
tables = tables.style.applymap(apply_bold_style)
tables = tables.hide(axis = 'index')

tables

In [ ]:
#query template

query = 'SELECT * FROM order_details'
pd.read_sql(query,cnx)

# SQL Practice Problems
* 57 questions of beginning, intermediate, and advanced level for practice.

### 1. Which shippers do we have?

We have a table called Shippers. Return all the fields from all the
shippers

In [ ]:
pd.read_sql('select * from shippers',cnx)

### 2. Which categories do we have?
We have a table called Shippers. 
Return all the fields from all the shippers.

In [ ]:
pd.read_sql('select category_name, description from Categories',cnx)

### 3. Sales Representatives
We’d like to see just the FirstName, LastName, and HireDate of all the
employees with the Title of Sales Representative. Write a SQL
statement that returns only those employees.

In [ ]:
q="""select first_name, last_name, hire_date from employees where title='Sales Representative'"""
pd.read_sql(q,cnx)

### 4. Sales Representatives in the United States
Now we’d like to see the same columns as above, but only for those
employees that both have the title of Sales Representative, and also are
in the United States.

In [ ]:
q="""select first_name, last_name, hire_date from employees where title = 'Sales Representative' and country = 'USA'"""
pd.read_sql(q,cnx)

### 5. Orders placed by specific EmployeeID
Show all the orders placed by a specific employee. The EmployeeID for
this Employee (Steven Buchanan) is 5.

In [ ]:
q="""select order_id, order_date from orders where employee_id = 5"""
pd.read_sql(q,cnx)

### 6. Suppliers and ContactTitles
In the Suppliers table, show the SupplierID, ContactName, and
ContactTitle for those Suppliers whose ContactTitle is not Marketing
Manager.

In [ ]:
q="""select supplier_id, contact_name, contact_name from suppliers where contact_title!='Marketing Manager'"""
pd.read_sql(q,cnx)

### 7. Products with “queso” in ProductName
In the products table, we’d like to see the ProductID and ProductName
for those products where the ProductName includes the string “queso”.

In [ ]:
q="""select product_id, product_name from products where product_name like '%queso%'"""
pd.read_sql(q,cnx)

### 8. Orders shipping to France or Belgium
Looking at the Orders table, there’s a field called ShipCountry. Write a
query that shows the OrderID, CustomerID, and ShipCountry for the
orders where the ShipCountry is either France or Belgium

In [ ]:
q="""select order_id, customer_id, ship_country from orders where ship_country in ('France','Belgium')"""
pd.read_sql(q,cnx)

### 9. Orders shipping to any country in Latin America
Now, instead of just wanting to return all the orders from France of
Belgium, we want to show all the orders from any Latin American
country. But we don’t have a list of Latin American countries in a table
in the Northwind database. So, we’re going to just use this list of Latin
American countries that happen to be in the Orders table:
* Brazil
* Mexico
* Argentina
* Venezuela
It doesn’t make sense to use multiple Or statements anymore, it would
get too convoluted. Use the In statement.

In [ ]:
q="""select * from orders where ship_country in ('Brazil','Mexico','Argentina','Venezuela')"""
pd.read_sql(q,cnx)

### 10. Employees, in order of age
For all the employees in the Employees table, show the FirstName,
LastName, Title, and BirthDate. Order the results by BirthDate, so we
have the oldest employees first.

In [ ]:
q="""select first_name, last_name, title, birth_date from employees order by birth_date;
"""
pd.read_sql(q,cnx)

### 11. Showing only the Date with a DateTime field
In the output of the query above, showing the Employees in order of
BirthDate, we see the time of the BirthDate field, which we don’t want.
Show only the date portion of the BirthDate field.

In [ ]:
query = 'select employee_id, date(birth_date) from employees'
pd.read_sql(query,cnx)

### 12. Employees full name
Show the FirstName and LastName columns from the Employees table,
and then create a new column called FullName, showing FirstName and
LastName joined together in one column, with a space in-between.

In [ ]:
query = "select first_name, last_name, concat(first_name,' ',last_name) as full_name from employees"

pd.read_sql(query,cnx)

### 13. OrderDetails amount per line item
In the OrderDetails table, we have the fields UnitPrice and Quantity.
Create a new field, TotalPrice, that multiplies these two together. We’ll
ignore the Discount field for now.
In addition, show the OrderID, ProductID, UnitPrice, and Quantity.
Order by OrderID and ProductID.

In [ ]:
query = """select order_id, product_id, unit_price, quantity, round(unit_price*quantity,2) 'total_price' 
from order_details order by order_id, product_id"""
pd.read_sql(query,cnx)

### 14. How many customers?
How many customers do we have in the Customers table? Show one
value only, and don’t rely on getting the recordcount at the end of a
resultset.

In [ ]:
query = """select count(distinct customer_id) 'Count of customer' from customers"""

pd.read_sql(query,cnx)

### 15. When was the first order?
Show the date of the first order ever made in the Orders table

In [ ]:
query = 'select * from orders order by order_date limit 1'
pd.read_sql(query,cnx)

### 16. Countries where there are customers
Show a list of countries where the Northwind company has customers.

In [ ]:
query = 'select distinct country from customers order by country'

pd.read_sql(query,cnx)

### 17. Contact titles for customers
Show a list of all the different values in the Customers table for
ContactTitles. Also include a count for each ContactTitle.
This is similar in concept to the previous question “Countries where
there are customers”, except we now want a count for each ContactTitle.

In [ ]:
query = """select contact_title,count(contact_title) 'count' from customers group by contact_title order by count desc"""

pd.read_sql(query,cnx)

### 18. Products with associated supplier names
We’d like to show, for each product, the associated Supplier. Show the
ProductID, ProductName, and the CompanyName of the Supplier. Sort
by ProductID.
This question will introduce what may be a new concept, the Join clause
in SQL. The Join clause is used to join two or more relational database
tables together in a logical way.
Here’s a data model of the relationship between Products and Suppliers

In [ ]:
query = """select product_id, product_name, s.company_name  from products p join suppliers s on p.supplier_id=s.supplier_id order by product_id"""

pd.read_sql(query,cnx)

### 19. Orders and the Shipper that was used
We’d like to show a list of the Orders that were made, including the
Shipper that was used. Show the OrderID, OrderDate (date only), and
CompanyName of the Shipper, and sort by OrderID.
In order to not show all the orders (there’s more than 800), show only
those rows with an OrderID of less than 10300.

In [ ]:
query = """select order_id, order_date, s.company_name from orders o join shippers s on o.ship_via=s.shipper_id where order_id<10300"""
pd.read_sql(query,cnx)

# Intermediate Problems

### 20. Categories, and the total products in each category
For this problem, we’d like to see the total number of products in each
category. Sort the results by the total number of products, in descending
order

In [ ]:
query = """select p.category_id, c.category_name, count(p.category_id) count from products p join categories c on p.category_id= c.category_id group by category_id order by count desc;"""
pd.read_sql(query,cnx)

### 21. Total customers per country/city
In the Customers table, show the total number of customers per Country
and City

In [ ]:
query = """select country, city, count(customer_id) count from customers group by country, city order by count desc"""
pd.read_sql(query,cnx)

### 22. Products that need reordering
What products do we have in our inventory that should be reordered?
For now, just use the fields UnitsInStock and ReorderLevel, where
UnitsInStock is less than the ReorderLevel, ignoring the fields
UnitsOnOrder and Discontinued.
Order the results by ProductID.

In [ ]:
query = """select product_id, product_name, units_in_stock, reorder_level from products where units_in_stock<reorder_level order by product_id;"""
pd.read_sql(query,cnx)

### 23. Products that need reordering, continued
Now we need to incorporate these fields—UnitsInStock, UnitsOnOrder,
ReorderLevel, Discontinued—into our calculation. We’ll define
“products that need reordering” with the following:
UnitsInStock plus UnitsOnOrder are less than or equal to
ReorderLevel
The Discontinued flag is false (0)

In [ ]:
query = """select * from  products where units_in_stock+units_on_order<=reorder_level and discontinued=0"""
pd.read_sql(query,cnx)

### 24. Customer list by region
A salesperson for Northwind is going on a business trip to visit
customers, and would like to see a list of all customers, sorted by
region, alphabetically.
However, he wants the customers with no region (null in the Region
field) to be at the end, instead of at the top, where you’d normally find
the null values. Within the same region, companies should be sorted by
CustomerID

In [ ]:
query = """select customer_id, company_name,region
from customers order by 
case
when region is null then 1 else 0 end, region, customer_id"""
pd.read_sql(query,cnx)

### 25. High freight charges
Some of the countries we ship to have very high freight charges. We'd
like to investigate some more shipping options for our customers, to be
able to offer them lower freight charges. Return the three ship countries
with the highest average freight overall, in descending order by average
freight

In [ ]:
query = """select ship_country, round(avg(freight),2) 'avg' from orders group by ship_country order by avg desc limit 3"""
pd.read_sql(query,cnx)

### 26. High freight charges - 1996
We're continuing on the question above on high freight charges. Now,
instead of using all the orders we have, we only want to see orders from
the year 1996.

In [ ]:
query = """select ship_country, order_date, round(avg(freight),2) 'avg' from orders where year(order_date)=1996 group by ship_country order by avg desc;"""
pd.read_sql(query,cnx)

### 27. High freight charges with between
Notice when you run this, it gives Sweden as the ShipCountry with the
third highest freight charges. However, this is wrong - it should be
France.
What is the OrderID of the order that the (incorrect) answer above is
missing?

In [ ]:
# query = """"""
# pd.read_sql(query,cnx)

### 28. High freight charges - last year
We're continuing to work on high freight charges. We now want to get
the three ship countries with the highest average freight charges. But
instead of filtering for a particular year, we want to use the last 12
months of order data, using as the end date the last OrderDate in Orders

In [ ]:
query = """select ship_country, round(avg(freight),3) avg from orders 
where datediff((select order_date from orders order by order_date desc limit 1),order_date) <= 365 
group by ship_country order by avg desc limit 3"""
pd.read_sql(query,cnx)

### 29. Inventory list
We're doing inventory, and need to show information like the below, for
all orders. Sort by OrderID and Product ID

In [ ]:
query = """select e.employee_id, last_name, od.order_id, product_name, quantity 
from order_details od join orders o on od.order_id=o.order_id 
join employees e on o.employee_id = e.employee_id 
join products p on od.product_id=p.product_id 
order by od.order_id, p.product_id"""
pd.read_sql(query,cnx)

### 30. Customers with no orders
There are some customers who have never actually placed an order.
Show these customers

In [ ]:
query = """select customer_id from customers where customer_id not in (select customer_id from orders where customer_id is not null);"""
pd.read_sql(query,cnx)

### 31. Customers with no orders for EmployeeID 4

One employee (Margaret Peacock, EmployeeID 4) has placed the most orders. However, there are some customers who've never placed an order with her. Show only those customers who have never placed an order with her.

In [ ]:
#query template

query = """SELECT Customers.Customer_ID
FROM Customers
LEFT JOIN (
  SELECT DISTINCT Customer_ID
  FROM Orders
  WHERE Employee_ID = 4
) OrdersWithEmployee4
ON Customers.Customer_ID = OrdersWithEmployee4.Customer_ID
WHERE OrdersWithEmployee4.Customer_ID IS NULL
"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """
SELECT customer_id FROM customers
WHERE customer_id NOT IN (
SELECT customer_id FROM orders
    where employee_id = 4
)
"""
pd.read_sql(query,cnx)

# Advanced Problems

### 32. High-value customers  

We want to send all of our high-value customers a special VIP gift.
We're defining high-value customers as those who've made at least 1
order with a total value (not including the discount) equal to $10,000 or
more. We only want to consider orders made in the year 1998.

In [ ]:
#query template

query = """
select c.customer_id, c.company_name, o.order_id, o.order_date, round(sum(unit_price*quantity),3) Single_Order_Value 
from order_details od 
join orders o on od.order_id=o.order_id 
join customers c on c.customer_id=o.customer_id 
where year(order_date)=1998 group by od.order_id having Single_Order_Value>10000 order by Single_Order_Value desc
"""
pd.read_sql(query,cnx)

### 33. High-value customers - total orders  

The manager has changed his mind. Instead of requiring that customers
have at least one individual orders totaling `$10,000` or more, he wants to
define high-value customers as those who have orders totaling `$15,000`
or more in 1998. How would you change the answer to the problem
above?

In [ ]:
#query template

query = """
SELECT c.customer_id, c.company_name, sum(unit_price * quantity) as 'Total_Order_Value'
FROM order_details od
INNER JOIN orders o ON o.order_id = od.order_id
INNER JOIN customers c ON o.customer_id = c.customer_id
WHERE o.order_id IN
(SELECT order_id FROM orders WHERE YEAR(order_date) = 1998)
group by c.customer_id, c.company_name HAVING sum(unit_price * quantity) > 15000
"""
pd.read_sql(query,cnx)

### 34. High-value customers - with discount  

Change the above query to use the discount when calculating high-value
customers. Order by the total amount which includes the discount.

In [ ]:
#query template

query = """

SELECT c.customer_id, sum(unit_price * quantity * (1 - discount)) as 'Total_Order_Value_With_Discount',
sum(unit_price * quantity) as 'Total_Order_Value_Without_Discount'
FROM order_details od
INNER JOIN orders o ON o.order_id = od.order_id
INNER JOIN customers c ON o.customer_id = c.customer_id
WHERE o.order_id IN
(SELECT order_id FROM orders WHERE YEAR(order_date) = 1998)
group by c.customer_id HAVING sum(unit_price * quantity * (1 - discount)) > 10000

"""

pd.read_sql(query,cnx)

### 35. Month-end orders  

At the end of the month, salespeople are likely to try much harder to get
orders, to meet their month-end quotas. Show all orders made on the last
day of the month. Order by EmployeeID and OrderID

In [ ]:
#query template

query = """

SELECT *
FROM orders
WHERE DAY(Order_Date) = DAY(LAST_DAY(Order_Date))
ORDER BY Employee_ID, Order_ID;

"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """

SELECT * FROM orders WHERE DAY(order_date) IN 
(SELECT DAY(LAST_DAY(order_date)) FROM orders GROUP BY MONTH(order_date))
ORDER BY employee_id, order_id

"""

pd.read_sql(query,cnx)

### 36. Orders with many line items  

The Northwind mobile app developers are testing an app that customers
will use to show orders. In order to make sure that even the largest
orders will show up correctly on the app, they'd like some samples of
orders that have lots of individual line items. Show the 10 orders with
the most line items, in order of total line items.

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT order_id, COUNT(order_id) AS LINE_ITEMS_COUNT, ROW_NUMBER() OVER(ORDER BY COUNT(order_id) DESC) AS ROW_NUM
FROM order_details GROUP BY order_id
) 

SELECT order_id, LINE_ITEMS_COUNT FROM TAB1 WHERE ROW_NUM < 11

"""

pd.read_sql(query,cnx)

### 37. Orders - random assortment  

The Northwind mobile app developers would now like to just get a
random assortment of orders for beta testing on their app. Show a
random set of 2% of all orders.

In [ ]:
pd.read_sql("""select order_id from orders where rand()<=0.02""",cnx)

In [ ]:
# Establish the database connection
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='Samarth1999SK',
                             db='northwind')

try:
    with connection.cursor() as cursor:
        
        # Drop the stored procedure
        cursor.execute("DROP PROCEDURE IF EXISTS RandomOrders")
        
        # Drop the stored procedure
        cursor.execute("DROP PROCEDURE IF EXISTS GetRandomOrders")

        # Create the stored procedure
        cursor.execute("""
        CREATE PROCEDURE GetRandomOrders()
        BEGIN
            SET @rows = (SELECT ROUND(COUNT(*) * 0.02) FROM orders);
            SET @sql = CONCAT('SELECT ORDER_ID FROM orders ORDER BY RAND() LIMIT ', @rows);
            PREPARE stmt FROM @sql;
            EXECUTE stmt;
            DEALLOCATE PREPARE stmt;
        END
        """)

    # Commit the changes
    connection.commit()

finally:
    connection.close()

In [ ]:
#query template

query = """

CALL GetRandomOrders();

"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT *, ROW_NUMBER() OVER() AS ROW_NUM
FROM orders
),

TAB2 AS
(SELECT MAX(ROW_NUM)*0.02 AS DATA_PORTION from TAB1)

SELECT TAB1.* FROM TAB1 WHERE TAB1.ROW_NUM <= (SELECT DATA_PORTION FROM TAB2)

"""

pd.read_sql(query,cnx)

In [ ]:
#query template

cursor = cnx.cursor()
cursor.execute('SET @rows = CEIL((SELECT COUNT(*) FROM orders) * 0.02)')

query = """

WITH TAB1 AS
(
SELECT order_id, ROW_NUMBER() OVER() AS ROW_NUM
FROM orders
)

SELECT * FROM TAB1 WHERE ROW_NUM <= @rows;

"""

pd.read_sql(query,cnx)

### 38. Orders - accidental double-entry  

Janet Leverling, one of the salespeople, has come to you with a request.
She thinks that she accidentally double-entered a line item on an order,
with a different ProductID, but the same quantity. She remembers that
the quantity was 60 or more. Show all the OrderIDs with line items that
match this, in order of OrderID.

In [ ]:
#query template

query = """
WITH TAB1 AS
(
SELECT order_id, quantity, COUNT(*) AS 'GROUP_SIZE'
FROM order_details where quantity >= 60 GROUP BY order_id, quantity
)
SELECT order_id, quantity FROM TAB1 WHERE GROUP_SIZE > 1
"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """
select t.order_id, t.Quantity from
(select order_id, product_id, quantity, count(quantity) a 
from order_details 
where quantity>=60 
group by order_id, quantity order by order_id, quantity, product_id)t 
where t.a>1;
"""

pd.read_sql(query,cnx)

### 39. Orders - accidental double-entry details  

Based on the previous question, we now want to show details of the
order, for orders that match the above criteria.

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT order_id, quantity, COUNT(*) OVER(PARTITION BY order_id, quantity ORDER BY order_id) AS 'GROUP_SIZE'
FROM order_details where quantity >= 60
)
SELECT * FROM order_details WHERE order_id IN (SELECT order_id FROM TAB1 WHERE GROUP_SIZE > 1)

"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """
select * from order_details where order_id in 
(select t.order_id from
(select order_id, product_id, quantity, count(quantity) a 
from order_details 
where quantity>=60 
group by order_id, quantity order by order_id, quantity, product_id)t where t.a>1);
"""

pd.read_sql(query,cnx)

### 41. Late orders  

Some customers are complaining about their orders arriving late. Which
orders are late?

In [ ]:
#query template

query = """

SELECT order_id, order_date, required_date, shipped_date
FROM orders WHERE (required_date - shipped_date) <= -1
 
"""

pd.read_sql(query,cnx)

### 42. Late orders - which employees?  

Some salespeople have more orders arriving late than others. Maybe
they're not following up on the order process, and need more training.
Which salespeople have the most orders arriving late?

In [ ]:
#query template

query = """

SELECT TAB1.employee_id, last_name, LATE_ORDERS_COUNT FROM employees 
INNER JOIN
(SELECT employee_id, COUNT(employee_id) AS 'LATE_ORDERS_COUNT'
FROM orders WHERE (required_date - shipped_date) <= -1 GROUP BY employee_id) AS TAB1
ON employees.employee_id = TAB1.employee_id
WHERE LATE_ORDERS_COUNT > 1
 
"""

pd.read_sql(query,cnx)

### 43. Late orders vs. total orders  

Andrew, the VP of sales, has been doing some more thinking some more
about the problem of late orders. He realizes that just looking at the
number of orders arriving late for each salesperson isn't a good idea. It
needs to be compared against the total number of orders per
salesperson.

In [ ]:
#query template

query = """

WITH TAB1 AS
(SELECT employee_id, COUNT(employee_id) AS 'LATE_ORDERS_COUNT'
FROM orders WHERE (required_date - shipped_date) <= -1 GROUP BY employee_id),

TAB2 AS
(SELECT employee_id, COUNT(employee_id) AS 'TOTAL_ORDERS_COUNT'
FROM orders WHERE employee_id in (SELECT employee_id FROM TAB1 WHERE LATE_ORDERS_COUNT > 1) GROUP BY employee_id
)

SELECT TAB1.employee_id, last_name, TAB1.LATE_ORDERS_COUNT, TAB2.TOTAL_ORDERS_COUNT
FROM employees e INNER JOIN TAB1
ON TAB1.employee_id = e.employee_id
INNER JOIN TAB2
ON TAB2.employee_id = e.employee_id
 
"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """


WITH TAB1 AS (
  SELECT e.employee_id, e.last_name, COUNT(o.employee_id) AS 'LATE_ORDERS_COUNT'
  FROM employees e
  INNER JOIN orders o ON e.employee_id = o.employee_id
  WHERE (o.required_date - o.shipped_date) <= -1 
  GROUP BY e.employee_id
  HAVING COUNT(o.employee_id) > 1
)

SELECT TAB1.*, COUNT(o.employee_id) AS 'TOTAL_ORDERS_COUNT'
FROM TAB1
JOIN orders o ON TAB1.employee_id = o.employee_id
GROUP BY TAB1.employee_id;



"""

pd.read_sql(query,cnx)

### 44. Late orders vs. total orders - missing employee  

There's an employee missing in the answer from the problem above. Fix
the SQL to show all employees who have taken orders.

In [ ]:
#query template

query = """


WITH TAB1 AS
(
SELECT TAB1.employee_id, last_name, LATE_ORDERS_COUNT FROM employees e
INNER JOIN
(SELECT employee_id, COUNT(employee_id) AS 'LATE_ORDERS_COUNT'
FROM orders WHERE (required_date - shipped_date) <= -1 GROUP BY employee_id) AS TAB1
ON e.employee_id = TAB1.employee_id
GROUP BY employee_id
)

SELECT TAB1.*, COUNT(o.employee_id) AS 'TOTAL_ORDERS_COUNT'
FROM orders o INNER JOIN TAB1
ON o.employee_id = TAB1.employee_id
GROUP BY o.employee_id

"""

pd.read_sql(query,cnx)

### 46. Late orders vs. total orders - percentage  

Now we want to get the percentage of late orders over total orders.

In [ ]:
#query template

query = """


WITH TAB1 AS
(
SELECT TAB1.employee_id, last_name, LATE_ORDERS_COUNT FROM employees e
INNER JOIN
(SELECT employee_id, COUNT(employee_id) AS 'LATE_ORDERS_COUNT'
FROM orders WHERE (required_date - shipped_date) <= -1 GROUP BY employee_id) AS TAB1
ON e.employee_id = TAB1.employee_id
GROUP BY employee_id
),

TAB2 AS
(
SELECT TAB1.*, COUNT(o.employee_id) AS 'TOTAL_ORDERS_COUNT'
FROM orders o INNER JOIN TAB1
ON o.employee_id = TAB1.employee_id
GROUP BY o.employee_id
)

SELECT *, ROUND((LATE_ORDERS_COUNT/TOTAL_ORDERS_COUNT) * 100, 2) AS '% OF LATE ORDERS' FROM TAB2 
ORDER BY 
(LATE_ORDERS_COUNT/TOTAL_ORDERS_COUNT) * 100 DESC

"""

pd.read_sql(query,cnx)

### 48. Customer grouping  

Andrew Fuller, the VP of sales at Northwind, would like to do a sales
campaign for existing customers. He'd like to categorize customers into
groups, based on how much they ordered in 1998. Then, depending on
which group the customer is in, he will target the customer with
different sales materials.

The customer grouping categories are 0 to 1,000, 1,000 to 5,000, 5,000
to 10,000, and over 10,000.

A good starting point for this query is the answer from the problem
“High-value customers - total orders. We don’t want to show customers
who don’t have any orders in 1998.

Order the results by CustomerID.

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT customer_id, SUM(unit_price * quantity) AS 'TOTAL_ORDER_VALUE'
FROM order_details od
INNER JOIN orders o
ON o.order_id = od.order_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
),

TAB2 AS
(
SELECT TAB1.*, COUNT(order_id) AS 'NO:_OF_ORDERS' FROM orders o
INNER JOIN TAB1 
ON o.customer_id = TAB1.customer_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
)

SELECT *,
CASE 
WHEN TOTAL_ORDER_VALUE <= 1000 THEN 'LOW SPENDING'
WHEN TOTAL_ORDER_VALUE > 1000 AND TOTAL_ORDER_VALUE <= 5000 THEN 'MEDIUM SPENDING'
WHEN TOTAL_ORDER_VALUE > 5000 AND TOTAL_ORDER_VALUE <= 10000 THEN 'HIGH SPENDING'
ELSE 'HIGHEST SPENDING'
END AS 'CUSTOMER_CATEGORY'
FROM TAB2
ORDER BY customer_id


"""

pd.read_sql(query,cnx)

In [ ]:
query = """
WITH TAB1 AS
(
SELECT customer_id, SUM(unit_price * quantity) AS 'TOTAL_ORDER_VALUE'
FROM order_details od
INNER JOIN orders o
ON o.order_id = od.order_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
),

TAB2 AS
(
SELECT TAB1.*, COUNT(order_id) AS 'NO:_OF_ORDERS' FROM orders o
INNER JOIN TAB1 
ON o.customer_id = TAB1.customer_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
)

SELECT 
customer_id,
CASE WHEN TOTAL_ORDER_VALUE <= 1000 THEN 1 ELSE 0 END AS 'CATEGORY_LOW',
CASE WHEN TOTAL_ORDER_VALUE > 1000 AND TOTAL_ORDER_VALUE <= 5000 THEN 1 ELSE 0 END AS 'CATEGORY_MEDIUM',
CASE WHEN TOTAL_ORDER_VALUE > 5000 AND TOTAL_ORDER_VALUE <= 10000 THEN 1 ELSE 0 END AS 'CATEGORY_HIGH',
CASE WHEN TOTAL_ORDER_VALUE > 10000 THEN 1 ELSE 0 END AS 'CATEGORY_HIGHEST'
FROM TAB2
ORDER BY customer_id
"""

pd.read_sql(query,cnx)

### 50. Customer grouping with percentage  

Based on the above query, show all the defined CustomerGroups, and
the percentage in each. Sort by the total in each group, in descending
order

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT customer_id, SUM(unit_price * quantity) AS 'TOTAL_ORDER_VALUE'
FROM order_details od
INNER JOIN orders o
ON o.order_id = od.order_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
),

TAB2 AS
(
SELECT TAB1.*, COUNT(order_id) AS 'NO:_OF_ORDERS' FROM orders o
INNER JOIN TAB1 
ON o.customer_id = TAB1.customer_id
WHERE YEAR(order_date) = 1998
GROUP BY customer_id
),

TAB3 AS
(
SELECT
CASE 
WHEN TOTAL_ORDER_VALUE <= 1000 THEN 'LOW SPENDING'
WHEN TOTAL_ORDER_VALUE > 1000 AND TOTAL_ORDER_VALUE <= 5000 THEN 'MEDIUM SPENDING'
WHEN TOTAL_ORDER_VALUE > 5000 AND TOTAL_ORDER_VALUE <= 10000 THEN 'HIGH SPENDING'
ELSE 'HIGHEST SPENDING'
END AS 'CUSTOMER_CATEGORY'
FROM TAB2
)

SELECT CUSTOMER_CATEGORY, COUNT(CUSTOMER_CATEGORY) AS 'COUNT OF EACH CATEGORY',
(COUNT(CUSTOMER_CATEGORY)/(SELECT COUNT(*) FROM TAB3)) * 100 AS '% OF EACH CATEGORY'
FROM TAB3 
GROUP BY CUSTOMER_CATEGORY

"""

pd.read_sql(query,cnx)

### 52. Countries with suppliers or customers  

Some Northwind employees are planning a business trip, and would like
to visit as many suppliers and customers as possible. For their planning,
they’d like to see a list of all countries where suppliers and/or customers
are based.

In [ ]:
#query template

query = """

SELECT country FROM employees
UNION
SELECT country FROM customers
ORDER BY country

"""

pd.read_sql(query,cnx)

### 53. Countries with suppliers or customers, version 2  

The employees going on the business trip don’t want just a raw list of
countries, they want more details. We’d like to see output like the
below, in the Expected Results

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT s.country AS 'SUPPLIER_COUNTRY', c.country AS 'CUSTOMER_COUNTRY'
FROM suppliers s
LEFT JOIN customers c
ON s.country = c.country

UNION

SELECT s.country AS 'SUPPLIER_COUNTRY', c.country AS 'CUSTOMER_COUNTRY'
FROM suppliers s
RIGHT JOIN customers c
ON s.country = c.country
)

SELECT * FROM TAB1 ORDER BY SUPPLIER_COUNTRY, CUSTOMER_COUNTRY



"""

pd.read_sql(query,cnx)

In [ ]:
#query template

query = """

SELECT allCountries.country AS country,
       IF(s.country IS NOT NULL, 'Yes', 'No') AS in_employees,
       IF(c.country IS NOT NULL, 'Yes', 'No') AS in_customers
FROM
(
    SELECT country FROM suppliers
    UNION 
    SELECT country FROM customers
) AS allCountries
LEFT JOIN
(
    SELECT DISTINCT country FROM customers
) AS c
ON allCountries.country = c.country
LEFT JOIN
(
    SELECT DISTINCT country FROM suppliers
) AS s
ON allCountries.country = s.country
ORDER BY allCountries.country


"""

pd.read_sql(query,cnx)

### 54. Countries with suppliers or customers - version 3  

The output of the above is improved, but it’s still not ideal
What we’d really like to see is the country name, the total suppliers, and
the total customers.

In [ ]:
#query template

query = """

SELECT allCountries.country as 'Country_Name',
        IFNULL(TOTAL_CUSTOMERS,0) AS 'CUSTOMERS', IFNULL(TOTAL_SUPPLIERS,0) AS 'SUPPLIERS'
    
FROM
(
    SELECT country FROM suppliers
    UNION 
    SELECT country FROM customers
) AS allCountries
LEFT JOIN
(
    SELECT country, COUNT(*) AS 'TOTAL_CUSTOMERS' FROM customers GROUP BY country
) AS c
ON allCountries.country = c.country
LEFT JOIN
(
    SELECT country, COUNT(*) AS 'TOTAL_SUPPLIERS' FROM suppliers GROUP BY country
) AS s
ON allCountries.country = s.country
ORDER BY Country_Name

"""

pd.read_sql(query,cnx)

### 55. First order in each country

Looking at the Orders table—we’d like to show details for each order
that was the first in that particular country, ordered by OrderID.
So, we need one row per ShipCountry, and CustomerID, OrderID, and
OrderDate should be of the first order from that country.

In [ ]:
#query template

query = """

WITH TAB1 AS
(
SELECT ship_country, customer_id, order_id, order_date, ROW_NUMBER() OVER(PARTITION BY ship_country ORDER BY order_date) AS rn
FROM orders
)

SELECT ship_country, customer_id, order_id, order_date FROM TAB1 WHERE rn = 1

"""

pd.read_sql(query,cnx)

### 56. Customers with multiple orders in 5 day period  

There are some customers for whom freight is a major expense when
ordering from Northwind.

However, by batching up their orders, and making one larger order
instead of multiple smaller orders in a short period of time, they could
reduce their freight costs significantly.

Show those customers who have made more than 1 order in a 5 day
period. The sales people will use this to help customers reduce their
costs.

Note: There are more than one way of solving this kind of problem. For
this problem, we will not be using Window functions

In [ ]:
#query template

query = """

SELECT InitialOrder.customer_id AS 'CUSTOMER ID', InitialOrder.order_id  AS 'INITIAL ORDER ID', 
InitialOrder.order_date AS 'INITIAL ORDER DATE',
NextOrder.order_id AS 'NEXT ORDER ID', NextOrder.order_date AS 'NEXT ORDER DATE', 
DATEDIFF(NextOrder.order_date,InitialOrder.order_date) AS 'DAYS BETWEEN'
FROM orders InitialOrder
INNER JOIN orders NextOrder
ON InitialOrder.customer_id = NextOrder.customer_id
WHERE
DATEDIFF(NextOrder.order_date,InitialOrder.order_date) >= 0 
AND
DATEDIFF(NextOrder.order_date,InitialOrder.order_date) <= 5 
AND
InitialOrder.order_id < NextOrder.order_id
ORDER BY InitialOrder.customer_id

"""

pd.read_sql(query,cnx)

### 57. Customers with multiple orders in 5 day period, version 2  

There’s another way of solving the problem above, using Window
functions.

In [ ]:
#query template

query = """

WITH TAB1 AS 
(
SELECT customer_id AS 'CUSTOMER ID', order_id  AS 'INITIAL ORDER ID', order_date AS 'INITIAL ORDER DATE',
LEAD(order_id) OVER(PARTITION BY customer_id ORDER BY order_id) AS 'NEXT ORDER ID',
LEAD(order_date) OVER(PARTITION BY customer_id ORDER BY order_id) AS 'NEXT ORDER DATE'
FROM orders
)

SELECT *, DATEDIFF(`NEXT ORDER DATE`,`INITIAL ORDER DATE`) AS 'DAYS BETWEEN'
FROM TAB1 
WHERE
DATEDIFF(`NEXT ORDER DATE`,`INITIAL ORDER DATE`) <= 5
AND 
`NEXT ORDER ID` > `INITIAL ORDER ID`

"""

pd.read_sql(query,cnx)

df1.rename(columns = lambda x: x.replace(' ','_'), inplace = True)

df2.rename(columns = lambda x: x.replace(' ','_'), inplace = True)

df1.columns

df2.columns

df1.merge(df2, on=['CUSTOMER_ID', 'INITIAL_ORDER_ID', 'INITIAL_ORDER_DATE',
       'NEXT_ORDER_ID', 'NEXT_ORDER_DATE', 'DAYS_BETWEEN'], 
                   how='left', indicator=True)

Here are some of the most common regexp patterns used in SQL to match operators and strings:

* `^[a-zA-Z0-9_]` - Matches any string that starts with a letter, number, or underscore.
* `[a-zA-Z0-9_]+` - Matches any string that consists of one or more letters, numbers, or underscores.
* `[a-zA-Z]` - Matches any letter, regardless of case.
* `\d` - Matches any digit.
* `\w` - Matches any word character, which includes letters, numbers, and underscores.
* `\s` - Matches any whitespace character, such as a space, tab, or newline.
* `.` - Matches any character, except for a newline.
* `*` - Matches zero or more of the preceding character.
* `+` - Matches one or more of the preceding character.
* `?` - Matches zero or one of the preceding character.
* `{n}` - Matches exactly n of the preceding character.
* `{m,n}` - Matches between m and n of the preceding character, inclusive.
* `( )` - Groups together a set of characters.
* `|` - Matches either of the preceding characters.
* `^` - Matches the beginning of the string.
* `$` - Matches the end of the string.

These are just a few of the most common regexp patterns used in SQL. There are many other patterns available, and you can use them to match a wide variety of strings.

query = '''

SELECT SUBSTR(customer_id,1,1) FROM customers
'''

pd.read_sql(query,cnx)